<app-admin-header />
<app-admin-navbar />

<div class="bookings-wrap" [ngStyle]="{'background-image': 'url(' + patternImg  + ')'}">
    <h2>Bordsbokningar</h2>
    <div class="bookings-admin-table-wrap">
        <table>
            <tr>
                <th>Namn:</th>
                <th>Telefon:</th>
                <th>Email</th>
                <th>Antal gäster</th>
                <th>Datum</th>
                <th>Tid</th>
                <th>Meddelande:</th>
                <th></th>
            </tr>
            <tr *ngFor="let bookingData of getBookings" class="admin-bookings">
                <td>{{ bookingData.firstname}} {{ bookingData.lastname}}</td>
                <td>{{ bookingData.phonenumber}}</td>
                <td>{{ bookingData.email}}</td>
                <td>{{ bookingData.guests}}</td>
                <td>{{ bookingData.date}}</td>
                <td>kl:{{ bookingData.time}}</td>
                <td>{{ bookingData.bookingMessage}}</td>

                <td class="table-btn" colspan="6">
                    <div class="btn-bookings-admin">
                        <button (click)="updateBooking(bookingData._id)">Redigera</button>
                        <button (click)="deleteBooking(bookingData._id)">Ta bort</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="bookings-form-wrap">
        <h2 *ngIf="bookingIdToUpdate==''">Lägg till bokning</h2>
        <h2 *ngIf="bookingIdToUpdate!=''">Redigera bokning</h2>
    </div>

    <app-admin-btn-logout />
</div>