/*Tabell med bokningar*/
.bookings-wrap {
    background-color: #F9EAD7;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}



.bookings-admin-table-wrap table {
    background-color: white;
    box-shadow: 0px 2px 2px 0px rgb(30, 30, 30, 0.4);
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 4.2rem;
    padding: 2rem;
    text-align: center;
}

table tr th {
    background-color: #F6A566;
    font-size: 1.8rem;
    font-family: "Libre Bodoni", serif;
    font-weight: 400;
    padding: 0.5rem;
}

table tr:nth-child(1n) {
    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.2);
}

table tr:first-child {
    background-color: #F6A566;
}

table tr td {
    padding: 1rem;
    font-size: 1.6rem;
}

.btn-bookings-admin button:first-child{
    width: 100%;
    background-color: #1e1e1e;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.2);
    width: 100%;
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.btn-bookings-admin button:last-child{
    width: 100%;
    background-color: #F6A566;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.2);
    width: 100%;
    color: #1e1e1e;
    padding: 0.5rem;
}