/*top-header*/
.top-header {
    background-color: rgb(28, 48, 33, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
    padding: 1rem;

    z-index: 16;
}



.logo {
    margin: 0 auto;
    max-width: 8rem;
    width: 100%;
}
.logo img {
    width: 100%;
}

.admin-login {
    width: fit-content;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 2rem;
    transform: translate(0%, -50%);
}

.admin-login a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Libre Bodoni", serif;
}

.admin-login a:hover {
    border-bottom: 1.5px solid white;
}

#user-icon {
    margin: 0.5rem;
}

/*Hero bild*/

.hero-img {
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    animation: fadeIn 0.5s 1s forwards ease-in;
    filter: grayscale(1) blur(3px);
    background-attachment: fixed;
}


.img-color::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 48, 33, 0.4);
    z-index: 1;
    display: block;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    width: 100%;
    padding: 2rem;
    animation: anim-lineUp 3s forwards;
    opacity: 0;
}

.hero-text a {
    font-size: 8.6rem;
    color: white;
    text-decoration: none;
    font-family: "Libre Bodoni", serif;
    text-shadow: 2.5px 2.5px 2.5px rgba(30, 30, 30, 0.8);
}

fa-icon {
    color: #ffffff;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(100%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(0%);
    }
  }

  @keyframes fadeIn {
    from {
        filter: grayscale(1) blur(2px);
    } to {
        filter: grayscale(0) blur(2px);
    }
  }

  /*Media queries för mindre skärm*/
@media screen and (max-width: 850px) {
    
.hero-img {
    animation: none;
    filter: none;
}

}