<footer>
    <div class="info-list-wrap">

        <div class="footer-time">
            <h5>Öppettider</h5>
            <ul>
                <li>{{timesStringsComponent.timeWeekday}}</li>
                <li>{{timesStringsComponent.timeWeekend}}</li>
                <li>{{timesStringsComponent.timeLunch}}</li>
            </ul>
        </div>

        <div class="footer-contact">
            <h5>Kontakta oss</h5>
            <div class="contact-list">
    
                <ul>
                    <li>Telefon: <a href="tel:040-1234567">040-1234567</a></li>
                    <li>Epost: <a href="mailto:cafelugnet&commat;malmo.com">cafelugnet&commat;malmo.com</a></li>
                    <li>Adress: Södra Förstadsgatan 19A, Malmö</li>
                </ul>
            </div>
    
        </div>

        <div class="footer-social">
            <h5>Sociala medier</h5>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
            </ul>
        </div>

        <div class="footer-social">
            <h5>Snabba Länkar</h5>
            <ul>
                <li>Meny</li>
                <li>Om oss</li>
                <li>Hitta oss</li>
                <li>Boka bord</li>
                <li>Admin</li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <ul>
            <li>&copy; 2024 Café Lugnet</li>
            <li>Mittuniversitet</li>
            <li>Webbutvecklingsprogrammet</li>
            <li>Hanin Farhan</li>
        </ul>
    </div>
</footer>