<nav>
    <div class="hamburger" (click)="menuToggle()">
        <fa-icon [icon]="isMenuActivated ? faXMarkIcon : faBarsIcon"></fa-icon>
    </div>
    <ul [ngClass]="{'active': isMenuActivated}">
        <li><a href="#lunchmeny" (click)="closeMenu()">Meny</a></li>
        <li><a href="#om" (click)="closeMenu()">Om oss</a></li>
        <li><a href="#hittahit" (click)="closeMenu()">Hitta hit</a></li>
        <li><a href="#kontakt" (click)="closeMenu()">Kontakta oss</a></li>
        <li><a href="#bokabord" (click)="closeMenu()">Boka bord</a></li>
    </ul>

</nav>