nav {
    background-color: rgb(255, 255, 255);
    height: fit-content;
    padding: 1rem 2rem;
    max-width: 100%;
    width: 100%;
    box-shadow: 0px 10px 5px 0px rgba(30,30,30,0.6);
    z-index: 15;
    position: sticky;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    gap: 2rem;
    max-width: 80rem;
    width: 100%;
    font-size: 2rem;
    margin: 0 auto;
    font-family: "Libre Bodoni", serif;
    padding: 1rem;
}

