/*Ikon för inloggning*/
#userIcon {
    display: block;
    width: 100%;
    font-size: 10rem;
    text-align: center;
}

.user-mini-icon, .left-arrow {
    color: white;
    margin-right: 0.5rem;
}

/*form wrapper*/

.login-form-wrap {
    padding-top: 10rem;
    background-color: #F9EAD7;
    min-height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
}


h1 {
    font-size: 4.2rem;
    text-align: center;
    margin-bottom: 4rem;
}

/*button*/
#btn-login {
    background-color: #1C3021;
    color: white;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.2);
    width: 100%;
    margin-bottom: 2rem;
    border: none;
}

#btn-backToStart {
    background-color: #1e1e1e;
    color: white;
    width: 100%;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.2);
}



form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background-color: #F9EAD7;
    padding: 2rem;
    box-shadow: 0px 4px 10px 0px rgb(30, 30, 30, 0.4);

}

label {
    display: block;
    width: 100%;
    font-size: 1.8rem;
}

input {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border: 1.5px solid rgb(30, 30, 30, 0.2);
    box-shadow: 0px 2px 4px 0px rgb(30, 30, 30, 0.2);
}

button {
    display: block;
    padding: 1rem;
}

/*Error meddelande vid inloggning*/
.error-login {
    margin: 2rem 0;
    font-style: oblique;
    font-weight: 300;
    font-size: 1.6rem;
}

.login-form {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
   from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}