<section id="kontakt">
    <div class="contact-wrap">
        <h3>Kontakta oss</h3>
        <div class="contact-list">

            <ul>
                <li><a href="tel:040-1234567"><fa-icon [icon]="faPhoneIcon" id="phone-icon"></fa-icon>Telefon: 040-1234567</a></li>
                <li><a href="mailto:cafelugnet&commat;malmo.com"><fa-icon [icon]="faEpostIcon" id="epost-icon"></fa-icon>E-post: cafelugnet&commat;malmo.com</a></li>
                <li><fa-icon [icon]="faLocationIcon" id="location-icon"></fa-icon>Adress: Södra Förstadsgatan 19A, Malmö</li>
            </ul>
        </div>

        <br>
        <br>

        <div class="footer-time">
            <h5>Öppettider</h5>
            <ul>
                <li>{{timesStringsComponent.timeWeekday}}</li>
                <li>{{timesStringsComponent.timeWeekend}}</li>
                <li>{{timesStringsComponent.timeLunch}}</li>
            </ul>
        </div>

    </div>
</section>