.intro-wrap {
    background-color: #1e1e1e;
    width: 100%;
    height: fit-content;
    color: white;
    padding: 6rem 2rem;
    z-index: 10;
}

.welcome-text {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    padding: 2rem;
}

.intro-title {
    text-align: center;
    font-size: 4.2rem;
    font-weight: 400;
    margin-bottom: 4rem;
    font-family: "Libre Bodoni", serif;
}