/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: #1e1e1e;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: "Libre Bodoni", serif;
}

h3 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.8rem;
}

button {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0.5rem;
    font-family: "Libre Bodoni", serif;
}
